 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>OpenTomb is a cross-platform reimplementation of classic Tomb Raider 1—5 engines that were developed by now defunct Core Design. It is not a patcher or DLL extension of already existing engines.</p>
                </div>
                <div class="col-lg-4">
                    <p>The project does not use any old Tomb Raider source code, because all attempts to retrieve sources from Eidos / Core were in vain, despite many petitions by the community. Instead, everything is being developed completely from scratch!!! </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://sourceforge.net/projects/opentomb/files/latest/download?source=files" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Binaries
                    </a>
                    
                    <a href="https://github.com/opentomb/OpenTomb" class="btn btn-lg btn-outline">
                        <i class="fa fa-gear"></i> Browse The Source
                    </a>
                </div>
            </div>
        </div>
    </section>