    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>TRF Discussion</h3>
                        <p>Check us out at Tomb Raider Forums! <br>
		                    <a href="http://www.tombraiderforums.com/showthread.php?t=197508">Click Here!</a>
                        </p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>{{ site.footer.social }}</h3>
                        <ul class="list-inline">
                            <li>
                              <a style="font-weight: bold;" href="http://sourceforge.net/projects/opentomb/" class="btn-social btn-outline sf">sf</a>
                            </li>
                            {% for network in site.social %}
                            <li>
                                <a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
                            </li>
		                    {% endfor %}
                            <li>
                                  <a href="http://www.moddb.com/games/opentomb" class="btn-social btn-outline"><i class="fa fa-fw fa-wrench"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>{{ site.footer.credits }}</h3>
                        <p>{{ site.credits }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        This site is licensed under {{ site.footer.copyright }} (20{{ site.time | date: '%y' }})
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
