    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/opentomb-mono.png" alt="">
                    <div class="intro-text">
                        <hr class="star-light">
                        <span class="skills">A Cross-Platform reimplementation of classic Tomb Raider 1—5 engines.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>